.App {
    text-align: center;
}

.app-header {
    padding: 10px;
    text-align: center;
    background: cyan;
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.no-data {
    text-align: center;
    color: black;
    font-size: 30px;
}

.loading-data {
    text-align: center;
    color: black;
    font-size: 30px;
}

.item-id {
    flex: 0 0 4rem !important;
}

.item-content {
    flex: 0.95 1 10rem !important;
    overflow: auto;
}

.input {
    padding: 1rem !important;
}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
